/* NEWSLETTER */

.footerNewsletterContainer {
  align-items: center;
  background-color: #fafafa;
  border-bottom: 2px solid #efefef;
  border-top: 2px solid #efefef;
  display: flex;
  flex-direction: row;
  height: 120px;
  justify-content: center;
}

.footerNewsletterRow {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  position: relative;
  width: 298px;
}

@media (min-width: 768px) {
  .footerNewsletterRow {
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    max-width: 952px;
    width: 100%;
  }
}

.footerNewsletterRow p {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

@media (min-width: 768px) {
  .footerNewsletterRow p {
    width: 307px;
  }
}

.footerNewsletterForm {
  display: flex;
  flex-direction: row;
  gap: 15px;
  max-width: 631px;
  width: 100%;
}

.footerNewsletterForm input {
  background-color: #fff;
  border: 1px solid #353535;
  border-radius: 4px;
  color: #353535;
  font-size: 14px;
  font-weight: 400;
  height: 26px;
  line-height: normal;
  padding: 0 24px;
  width: auto;
}

@media (min-width: 768px) {
  .footerNewsletterForm input {
    height: 40px;
    width: 468px;
  }
}

.footerNewsletterForm button {
  background: #faa500;
  border: 1px solid #faa500;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  height: 28px;
  line-height: normal;
  right: 0;
  width: 79px;
}

@media (min-width: 768px) {
  .footerNewsletterForm button {
    font-size: 16px;
    height: 42px;
    position: absolute;
    width: 131px;
  }
}

.footerNewsletterForm input:focus,
.footerNewsletterForm button:focus {
  outline: none;
}

/* MENU */

.footerMenuContainer {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
}

.footerMenuRow {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  margin: 40px 30px 56px;
  max-width: 952px;
  width: 100%;
}

@media (min-width: 768px) {
  .footerMenuRow {
    flex-direction: row;
    margin: 40px 0 64px;
  }
}

.footerMenuTitle {
  color: #353535;
  display: block;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  justify-content: space-between;
  line-height: 18px;
  text-decoration: none;
  width: 100%;
}

.footerMenuTitle::after {
  content: "+";
}

@media (min-width: 768px) {
  .footerMenuTitle::after {
    display: none;
  }
}

.footerMenuRow ul {
  display: none;
}

@media (min-width: 768px) {
  .footerMenuRow ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style: none;
    margin: 0;
    margin-top: 24px;
    padding: 0;
  }
}

.footerMenuRow ul a {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}
